body{
    margin: 0;
    padding: 0;
    background:rgb(78, 163, 243);
}
nav{
    display: flex;
    top:0;
    width: 100%;
    overflow: auto;
    height: auto;
    color: white;
 }
 .left-links{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
 }
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.buttons{
    padding: 120px;
    margin: 5px;
    border-radius:  10px;
    border: none;
    background-color: white;
    font-size: 50px;
    color: rgb(66, 66, 66);
}
#first{
    padding: 70px 120px;
}
