body{
    margin: 0;
    padding: 0;
    background:rgb(78, 163, 243);
}
nav{
    display: flex;
    top:0;
    width: 100%;
    overflow: auto;
    height: auto;
    color: white;
 }
 .left-links{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
 }
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.square{
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
}
#Name{
    height: 400px;
    width: 800px;
}
@font-face{
    font-family: YesterdayAgain;
    src: url(Yesterday\ Again.ttf);
}
@font-face{
    font-family: Montserrat;
    src: url(Montserrat-Medium.ttf);
}
body section ul li p{
    font-family: Montserrat;
}
#hi{
    text-align: center;
    margin-top: 0px;
    font-size: 70px;
    margin-bottom:0px;
}
#invisible 
{
    color:white;
}
#Signature{
    font-family: YesterdayAgain;
    text-align: center;
    font-size: 105px;
    margin-top: 40px;
}